$color-primary: #3F51B5;
$color-primary-dark: #303F9F;
$color-primary-light: #C5CAE9;
$color-accent: #FF4081;
$color-accent-dark: #C2185B;
$color-accent-light: #F8BBD0;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-text-icons: #FFFFFF;
$color-divider: #BDBDBD;
$color-selection: #EEEEEE;